@import "../variables";

.dropdown {
  $title-padding: 12px;
  $mobile-option-margin: 25px;
  $desktop-option-margin: 20px;

  border: $border-gray;
  cursor: pointer;
  width: 100%;

  &__title {
    margin: 0;
    padding: $title-padding;
  }

  &__title-icon {
    position: absolute;
    right: $title-padding;

    @media screen and (min-width: 768px) {
      margin-left: $title-padding;
      position: initial;
    }
  }

  &__option {
    width: 100%;
    margin: $mobile-option-margin;

    @media screen and (min-width: 768px) {
      margin: $desktop-option-margin;
    }
  }

  &__option-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      display: inline-flex;
      padding: 0;
      white-space: nowrap;
    }

    & + label:before {
      content: '';
      margin-right: 1em;
      display: inline-block;
      vertical-align: text-top;
      width: 1em;
      height: 1em;
      background: white;
      border: $border-gray;
    }

    &:hover + label:before {
      border: $border-black;
    }

    &:checked + label:before {
      background: $primary-pink;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: $light-gray;
    }
  }

  &__options {
    display: block;
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 100%;
    border: $border-gray;
    z-index: 1;

    &--opened {
      border: $border-black;
    }
  }

  &:hover {
    border: $border-black;
  }

  &--opened {
    border: $border-black;
  }
}