@import "../../variables";

.product {
  position: relative;
  height: 100%;

  &__image {
    $product-image-vertical-padding: 40px;

    width: 100%;
    padding: $product-image-vertical-padding 0;
    background: $very-light-gray;
  }

  &__title {
    font-weight: 700;
    margin: 1em 0 0 0;
    padding: 0;
  }

  &__price {
    float: right;
  }

  &__description {
    font-weight: 300;
    color: $strong-dark-gray;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $default-elements-gap;
  }

  &__button {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;

    &__text {
      margin: 0.5em;
      font-weight: 400;
    }

    &--primary {
      border: initial;
      color: white;
      background: $primary-pink;
    }

    &--primary:hover {
      background: $light-primary-pink;
    }

    &--secondary {
      border: $border-gray;
      color: black;
      background: white;
    }

    &--secondary:hover {
      border: $border-black;
    }
  }

  &__variants-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  &__variant {
    $variant-size: 20px;

    box-sizing: border-box;
    width: $variant-size;
    height: $variant-size;
    margin: 0 ($variant-size / 2);
    cursor: pointer;
    opacity: 0.55;

    &--selected {
      opacity: 0.85;
      border: $border-black;
    }

    &:hover {
      border: $border-black;
    }
  }

}