@import "../variables";

.dropdown {
  $title-padding: 12px;
  $mobile-option-margin: 25px;
  $desktop-option-margin: 10px;

  border: $border-gray;
  cursor: pointer;
  width: 100%;

  &__title {
    margin: 0;
    padding: $title-padding;
  }

  &__title-icon {
    position: absolute;
    right: $title-padding;

    @media screen and (min-width: 768px) {
      margin-left: $title-padding;
      position: initial;
    }
  }

  &__option {
    margin: $mobile-option-margin 0;

    @media screen and (min-width: 768px) {
      margin: $desktop-option-margin 0;
    }
  }

  &__options {
    display: block;
    position: absolute;
    left: 0;
    background-color: white;
    min-width: 100%;
    border: $border-gray;
    z-index: 1;

    @media screen and (min-width: 768px) {
      width: auto;
      padding: ($mobile-option-margin - $title-padding) $title-padding;
    }

    &--opened {
      border: $border-black;
    }
  }

  &:hover {
    border: $border-black;
  }

  &--opened {
    border: $border-black;
  }
}
