@import "../variables";

.product {
  position: relative;
  height: 100%;

  &__image {
    $product-image-vertical-padding: 40px;

    width: 100%;
    padding: $product-image-vertical-padding 0;
    background: $very-light-gray;
  }

  &__title {
    font-weight: 700;
    margin: 1em 0 0 0;
    padding: 0;
  }

  &__description {
    font-weight: 300;
    color: $strong-dark-gray;
  }

  &__buy-button {
    width: 100%;
    padding: 1em;
    border: $border-gray;
    color: black;
    cursor: pointer;
    background: white;
  }

  &__buy-button:hover {
    border: $border-black;
  }

  &__variants-list {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  &__variant {
    $variant-size: 20px;

    box-sizing: border-box;
    width: $variant-size;
    height: $variant-size;
    margin: 0 ($variant-size / 2) 0 0;
    cursor: pointer;

    &--selected {
      border: $border-gray;
    }

    &:hover {
      border: $border-black;
    }
  }

  &__variant-part {
    height: 50%;
    background: $light-gray;
  }
}