$very-light-gray: #f8f8f8;
$light-gray: #e4e4e4;
$dark-gray: darkgray;
$strong-dark-gray: hsl(0, 0%, 45%);
$primary-pink: #f2a5b7;
$light-primary-pink: #f9b4c3;

$border-black: 1px black solid;
$border-gray: 1px $dark-gray solid;

$header-height: 70px;

$mobile-container-margin: 20px;
$desktop-container-margin: 80px;
$product-min-width: 250px;

$default-elements-gap: 40px;
$products-elements-gap: 80px;