$very-light-gray: #f8f8f8;
$light-gray: #e4e4e4;
$dark-gray: darkgray;
$strong-dark-gray: hsl(0, 0%, 45%);

$border-black: 1px black solid;
$border-gray: 1px $dark-gray solid;

$header-height: 70px;

$mobile-container-margin: 20px;
$desktop-container-margin: 50px;
$product-min-width: 300px;

//space between elements (filters, products etc.)
$default-elements-gap: 35px;